* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(245, 245, 245);
}

main {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

li {
  list-style: none;
}

.left {
  background-image: url("./img/forest.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 35vw;
  color: white;
}

.todo-background {
  width: 35vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  /* margin-top: 207px; */
  height: 14vh;
}

.todo-background p {
  font-size: 100px;
}

.right {
  display: flex;
  flex-direction: column;

  width: 65vw;
}

.input-section,
.todo-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.input-section {
  height: 14vh;
}

.todo-input {
  height: 36px;
  width: 50vw;
  padding-left: 10px;
}

.submit-button,
.delete-button {
  height: 28px;
  width: 28px;
  border-radius: 120px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 65vw;
  height: 90vh;
}

.todo-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
