body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.left {
  background-image: url("./img/forest.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 35vw;
  color: white;
}

.todo-background {
  width: 35vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  /* margin-top: 207px; */
  height: 160px;
}

.todo-background p {
  font-size: 100px;
}

.right {
  display: flex;
  flex-direction: column;
  background-color: rgb(245, 245, 245);
  width: 65vw;
}
